<%
var total = number1 + number2;
%>
    <!DOCTYPE html>
    <html lang="en">

    <head>
        <meta charset="UTF-8">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <title>Document</title>
    </head>

    <body>
        <h2>Hello World</h2>
        <font color="red">Backend
            <%- hoten%>
        </font>
        <ul>
            <li>Number 1 is
                <%- number1%>
            </li>
            <li>Number 2 is
                <%- number2%>
            </li>
            <li>Total is
                <%- total%>
            </li>
            <img src="./<%- picture%>">
        </ul>
    </body>

    </html>